<div class="position">
    <h1>Dashboard</h1>
<div class="dashboard col-md-11">
    
    <div class="card">
        <div class="card-content">
            <div class="card-content-left">
                <p class="count">0</p>
                <p>Today's Visitors</p>
            </div>
            <div class="card-content-right">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card-bottom">
            <div class="bottom-content">
                <p>More info</p>
                <button (click)="redirectTo()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-content-left">
                <p class="count">0</p>
                <p>Yesterday's Visitors</p>
            </div>
            <div class="card-content-right">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card-bottom">
            <div class="bottom-content">
                <p>More info</p>
                <button (click)="redirectTo()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-content-left">
                <p class="count">0</p>
                <p>Last 7 Days Visitors</p>
            </div>
            <div class="card-content-right">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card-bottom">
            <div class="bottom-content">
                <p>More info</p>
                <button (click)="redirectTo()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-content-left">
                <p class="count">1</p>
                <p>Total Visitors</p>
            </div>
            <div class="card-content-right">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="card-bottom">
            <div class="bottom-content">
                <p>More info</p>
                <button (click)="redirectTo()"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
</div>
