h1{
    overflow-x: auto;
    margin-left: 200px;
    font-weight: bold;
}

.position{
    position:fixed;
}

.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 160px;
    flex-wrap: wrap;
}

.card {
    height: 140px;
    width: 250px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    height: 120px;
    padding: 10px 20px;
}


.card-0 .card-content {
    background-color: rgb(103, 209, 241);
  }
  .card-0 .fa-user {
    color: rgb(60, 169, 241);
  }
  .card-0 .card-bottom {
    background-color: rgb(60, 169, 241);
  }
  
  .card-1 .card-content {
    background-color: green;
  }
  .card-1 .fa-user {
    color: rgb(2, 90, 2);
  }
  .card-1 .card-bottom {
    background-color: rgb(2, 90, 2);
  }
  
  .card-2 .card-content {
    background-color: rgb(233, 204, 39);
  }
  .card-2 .fa-user {
    color: rgb(219, 182, 17);
  }
  .card-2 .card-bottom {
    background-color: rgb(219, 182, 17);
  }
  
  .card-3 .card-content {
    background-color: rgb(216, 3, 3);
  }
  .card-3 .fa-user {
    color: rgb(204, 3, 3);
  }
  .card-3 .card-bottom {
    background-color: rgb(204, 3, 3);
  }
  


.card-content-left p{
    margin-left: 5px;
    margin-top: 20px;
    color: white;
    flex-wrap: nowrap;
}

.card-content-left .count{
    font-size: x-large;
}

.card-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0px 0px 3px 3px;
    height: 20px;
}

.bottom-content {
    margin-top: 14px;
    display: -webkit-box;
    gap: 10px;
}

.bottom-content i{
    height: 50%;
    width: 50%;
    color: white;
}

.fa-user {
    font-size: 5rem;
    margin-top: -10px; 
}

.bottom-content button{
    border: none;
    background: none;
}

.fa-user {
    font-size: 5rem;
    margin-top: -10px;
    margin-left: 10px; 
}

@media(width:600px){
    .dashboard{
        display: block;
    }
    .position{
        position:absolute;
    }
}