<div class="change-password-wrapper">
    <h1 class="text-center">Change Password</h1>
    <div class="container mt-4">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-4">
            <label>Current Password</label>
            <input type="text" class="form-control" formControlName="currentPassword" />
            <small class="text-danger" *ngIf="isFormSubmitted && f['currentPassword'].invalid">
              Current Password is required (min 6 char).
            </small>
          </div>
          <div class="col-md-6 mb-4">
            <label>New Password</label>
            <input type="password" class="form-control" formControlName="newPassword" />
            <small class="text-danger" *ngIf="isFormSubmitted && f['newPassword'].invalid">
              New Password is required (min 6 char).
            </small>
          </div>
          <div class="col-md-6 mb-4">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" />
            <small class="text-danger" *ngIf="isFormSubmitted && f['confirmPassword'].invalid">
              Confirm password is not same as new password
            </small>
          </div>
        </div>
  
        <div class="text-center">
          <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
  