<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar> -->
<div class="position">
<h1>Change Password</h1>
<div class="col-md-8">
    <div class="container mt-4">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label>Current Password</label>
                    <input type="text" class="form-control" formControlName="currentPassword" />
                    <small class="text-danger" *ngIf="isFormSubmitted && f['currentPassword'].invalid">
                        Current Password is required (min 6 char).
                    </small>
                </div>
                <div class="col-md-6 mb-4">
                    <label>New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" />
                    <small class="text-danger" *ngIf="isFormSubmitted && f['newPassword'].invalid">
                        New Password is required (min 6 char).
                    </small>
                </div>
                <div class="col-md-6 mb-4">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" />
                    <small class="text-danger" *ngIf="isFormSubmitted && f['confirmPassword'].invalid">
                        Confirm Password is required
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
