<nav class="navbar-custom">
  <div class="navbar-container">
    <div class="navbar-left">
      <!-- <img src="assets/logo.png" alt="AWC Logo" class="navbar-logo" /> -->
      <span class="navbar-title">Visitor Management</span>
    </div>

    <div class="navbar-right">
      <img class="user-avatar" src="assets/default.png" alt="user image" />
      <div class="dropdown">
        <button class="user-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{ userId }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
